* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(24, 58, 74);
}

.wrapper {
    width: 100%;
    padding: 0 15%;
}

.wrapper h1 {
    margin: 4% 0;
    text-align: center;
    font-size: 450%;
    color: white;
}

#boxContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#boxContainer .box {
    width: 100px;
    height: 100px;
    margin: 12px;
    font-size: 120%;
    background-color: rgb(61, 136, 174);
    display: flex;
    align-items: center;
    justify-content: center;
}

#boxContainer .boxVerde {
    width: 100px;
    height: 100px;
    margin: 12px;
    font-size: 120%;
    background-color: rgb(97, 210, 164);
    display: flex;
    align-items: center;
    justify-content: center;
}

#boxContainer .boxGiallo {
    width: 100px;
    height: 100px;
    margin: 12px;
    font-size: 120%;
    background-color: rgb(249, 210, 119);
    display: flex;
    align-items: center;
    justify-content: center;

}#boxContainer .boxRosso {
    width: 100px;
    height: 100px;
    margin: 12px;
    font-size: 120%;
    background-color: rgb(222, 84, 113);
    display: flex;
    align-items: center;
    justify-content: center;
}
